.addFundings {
    border-radius: 11px;
    position: absolute;
    justify-content: flex-end;


    background: rgba(238, 248, 221, 0.874);

}

.stockInfo {
    border-radius: 11px;
    position: relative;
    justify-content: center;
    min-width: 10vw;
    background: rgba(238, 248, 221, 0.874);

}

.resourcesForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 40rem;
    top: 40rem;
    width: 40vw;
    font-size: 20px;
    font-family: 'Proza Libre';
}

.buttonSubmit {
    width: 200px;
    height: 20px;
    margin-left: 90px;
}

.buttonClose {
    width: 200px;
    height: 20px;
    margin-left: 50px;
}

/* .input{
    border-radius: 11px;
    height: 5vh;
} */