html,
body {
  padding: 0;
  margin: 0;
  width: 1920px;
  height: 1080px;
  background: var(--floral-white)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --food: radial-gradient(39.84% 117180.17% at 27.77% 50%, #4E3102 0%, #D68400 100%);
  --sand: radial-gradient(39.84% 117180.17% at 27.77% 50%, #D68400 0%, #FFD449 100%);
  --cleaning: radial-gradient(39.84% 117180.17% at 27.77% 50%, #1C4854 0%, #A8D5E2 100%);
  --capital: radial-gradient(39.84% 117180.17% at 27.77% 50%, #104911 0%, #81C653 100%);
  --warning: radial-gradient(39.84% 117180.17% at 26.62% 230.38%, #FE0000 0%, #F41B1B 100%);
  --japanese-indigo: #1C4854;
  --lincoln-green: #104911;
  --phillipine-yellow: #FFC700;
  --red: #F41B1B;
  --mustard-brown: #D68400;
  --dollar-bill: #81C653;
  --bright-gray: #E9E9E9;
  --black: #000;
  --tea-green: #D5FFB9;
  --floral-white: #FFFCF3;
  --cultured: #F5F5F5;
  --dark-bronze: #4E3102;
  --crystal: #A8D5E2;
}

