@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

.header {
  display: flex;
  justify-content: center;
}

.resourceContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.divButton {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.foodContainer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--cultured);
  border: double 25px transparent;
  background-image: radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--cultured) 0%, var(--cultured) 100%),
    radial-gradient(39.84% 117180.17% at 27.77% 50%, #4E3102 0%, #D68400 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.sandContainer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--cultured);
  border: double 25px transparent;
  background-image: radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--cultured) 0%, var(--cultured) 100%),
    radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--mustard-brown) 0%, var(--phillipine-yellow) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.cleanContainer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--cultured);
  border: double 25px transparent;
  background-image: radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--cultured) 0%, var(--cultured) 100%),
    radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--japanese-indigo) 0%, var(--crystal) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.capitalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--cultured);
  border: double 25px transparent;
  background-image: radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--cultured) 0%, var(--cultured) 100%),
    radial-gradient(39.84% 117180.17% at 27.77% 50%, var(--lincoln-green) 0%, var(--dollar-bill) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.resourceFont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: -0.085em;
  color: black;
}

.resourceTitle {
  display: flex;
  justify-content: center;
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: var(--japanese-indigo);
}

.resourceInfo {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 154%;
  /* or 23px */

  letter-spacing: -0.035em;

  color: #000000;
}

.resourceDate {
  display: flex;
  justify-content: center;
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 154%;
  /* or 31px */
  letter-spacing: -0.035em;
  color: #000000;
}

.button {
  width: 350px;
  height: 75px;
  background-color: var(--lincoln-green);
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 154%;
  letter-spacing: -0.035em;
  color: var(--floral-white);
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 11px;
}

.button:active {
  background: linear-gradient(180deg, #104911 20%, #81C653 100%);
  ;
  /*box-shadow: 3px 7px 2px -4px rgba(0, 0, 0, 0.25);*/
  transform: translateY(4px);
  color: var(--lincoln-green);
}

.bottomDiv {
  width: 1920px;
  height: 435px;
  background: linear-gradient(94.9deg, #104911 3.89%, #81C653 90.13%);
}

.addFunds {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: var(--lincoln-green);
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 154%;
  letter-spacing: -0.035em;
  color: var(--floral-white);
  border-radius: 15px;
  top: 15rem;
  left: 95rem;
  position: absolute;
}

.formTable {
  width: 1318px;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  left: 18rem;
  top: 39rem;
  border-radius: 16px;
  position: absolute;
  background-color: var(--lincoln-green);
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 154%;
  letter-spacing: -0.035em;
  color: var(--floral-white);
}

.formTableHead {
  color: var(--lincoln-green);
  border: none;
  background: var(--dollar-bill)
}

.formBody {
  border: none;
  background: var(--dollar-bill)
}

.smoothButton {
  background-color: transparent;
  border: none;
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 154%;
  letter-spacing: -0.035em;
  color: black;
}

.smoothButton:hover {
  background-color: transparent;
  border: none;
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 154%;
  letter-spacing: -0.035em;
  background: linear-gradient(180deg, #235A69 0%, #81C653 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.newCat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  position: absolute;
  left: 52rem;
  top: 38rem;
  border: none;
  /* width: 123px; */
  height: 227px;
  background-color: var(--lincoln-green);
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 154%;
  letter-spacing: -0.035em;
  color: var(--floral-white);
}

.addResources {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  position: absolute;
  left: 52rem;
  top: 38rem;
  border-radius: 16px;
  /* width: 123px; */
  height: 348px;
  background-color: var(--lincoln-green);
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 154%;
  letter-spacing: -0.035em;
  color: var(--floral-white);
}